// MOBILE
footer {
    background: black;
    // display: flex;
    // justify-content: space-between;
    width: 100%;
    padding: 20px 0;


    nav {
        width: 100%;
        // margin: 0 auto;
        // background: blue;
        display: flex;
        justify-content: space-around;

        a {
            font-size: 1.6rem;
            text-decoration: none;
            color: white;
            // margin-right: 1%;
            // padding: 10px 0;
            // background: red;
            // display: inline-block;
        }
    }
}

// DESKTOP
@media (min-width: 1000px) {
    footer {
        background: black;
        // display: flex;
        // justify-content: space-between;
        width: 100%;
        padding: 20px 0;


        nav {
            width: 100%;
            // margin: 0 auto;
            // background: blue;
            display: flex;
            justify-content: flex-start;
            // margin-right: 5%;
            margin-left: 2%;

            a {
                font-size: 1.6rem;
                text-decoration: none;
                color: white;
                margin-right: 7%;
                // padding: 10px 0;
                // background: red;
                // display: inline-block;
            }
        }
    }
}