.home {
    .middle-content {
        margin-top: 15px;
        padding-bottom: 15px;
        border-bottom: 1px dashed black;

        h2 {
            font-size: 1.8rem;
            margin-bottom: 15px;
        }

        .boxes {
            // display: flex;
            // justify-content: space-between;
            // flex-flow: row wrap;
            // width: 20px;
            // margin: 0 auto;
            // background: red;
            // margin-bottom: 15px;
            color: white;

            .col-1 {
                display: flex;
                // justify-content: space-between;
                justify-content: space-around;
                margin-bottom: 30px;
                // margin-right: 5%;
                // margin-left: 9%;
                // font-size: 5px;

                .box {
                    width: 100px;
                    height: 100px;
                    background: gray;
                    text-align: center;
                    align-self: center;
                    // vertical-align: middle;
                    font-size: 1.5rem;
                }

                .one {
                    background: yellow;
                }

                .two {
                    background: green;
                }

                .three {
                    background: blue;
                }
            }

            .col-2 {
                display: flex;
                margin-bottom: 30px;
                // flex-flow: row wrap;
                // justify-content: space-between;
                justify-content: space-around;
                // margin-right: 5%;

                .box {
                    width: 100px;
                    height: 100px;
                    background: gray;
                    text-align: center;
                    align-self: center;
                    // height: 100%;
                    display: inline-block;
                    // background: blue;
                    font-size: 1.5rem;
                }

                .four {
                    background: pink;
                }

                .five {
                    background: teal;
                }

                .six {
                    background: purple;
                }
            }

            .col-3 {
                display: flex;
                // flex-flow: row wrap;
                justify-content: space-around;
                // margin-bottom: 30px;
                // margin-right: 5%;

                .box {
                    width: 100px;
                    height: 100px;
                    background: gray;
                    text-align: center;
                    // margin: 5px;
                    font-size: 1.5rem;
                }

                .seven {
                    background: red;
                }

                .eight {
                    background: purple;
                }

                .nine {
                    background: orange;
                }
            }

        }
    }
}