// MOBILE
.home {
  .top-content {
    header {
      // display: flex;
      // flex-flow: column wrap;

      .image-logo {
        display: flex;
        justify-content: center;

        .logo {
          // width: 100%;
          // max-width: 100%;
          padding: 30px 0;
        }
      }

      nav {
        display: flex;
        flex-flow: column wrap;
        // justify-content: center;
        // align-items: center;
        // width: 100%;
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        // background: red;

        a {
          font-size: 1.5rem;
          padding: 20px 0;
          border-bottom: 1px solid black;
          width: 100%;
          // align-self: center;
          text-decoration: none;
          color: black;
          text-align: center;
        }
      }
    }
  }
}

// MOBILE
.home {
  .jumbo {
    width: 100%;
  }
}

// TABLET
@media (min-width: 760px) {
  .home {
    .top-content {
      header {
        // display: flex;
        // flex-flow: column wrap;

        .image-logo {
          // display: flex;
          // justify-content: center;

          .logo {
            // width: 100%;
            // max-width: 100%;
            padding: 20px 0 10px;
          }
        }

        nav {
          display: flex;
          flex-flow: row nowrap;
          // justify-content: center;
          // align-items: center;
          // width: 100%;
          //   border-top: 1px solid black;
          //   border-left: 1px solid black;
          //   border-right: 1px solid black;
          border-style: none;
          //   background: red;

          a {
            font-size: 1.5rem;
            padding: 20px 0;
            // border-bottom: 1px solid black;
            border-style: none;
            width: 100%;
            // align-self: center;
            // text-decoration: none;
            color: black;
            // text-align: center;
          }
        }
      }
    }
  }
}

// DESKTOP
