.home {
    .top-content {
        border-bottom: 1px solid black;

        .text-container {
            margin: 15px 10px;

            h2 {
                font-size: 1.8rem;
                margin-bottom: 10px;
            }

            p {
                font-size: 1.5rem;
                margin-bottom: 5px;
            }
        }
    }
}